<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Status

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="create-post">
                        <img ng-src="{{}}" err-src="../public/images/profile.jpg" alt="">
                        <form action="/posts" method="POST" enctype="multipart/form-data">
                            <textarea rows="3" cols="90" placeholder="What's on your mind?" maxlength="700" name="text"></textarea>
                            <div id="inputForFiles">
                                <input type="file" name="picture">
                            </div>
                            <button type="button" class="btn btn-default btn btnPicture"><i class="fa fa-picture-o" aria-hidden="true"></i> Photo/Video</button>
                            <button type="button" class="btn btn-default btn"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</button>
                            <button type="button" class="btn btn-default btn">Tag Friends</button>
                            <input type="submit" class="btn btn-default btn pull-right" value="Post">
                        </form>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div ng-controller="postController">
                <div infinite-scroll='loadMore()'>
                    <div ng-repeat="post in somePosts">
                        <posts data='post'></posts>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-4 ">
            <!-- /.panel -->
            <div class="chat-panel panel panel-default ">
                <div class="panel-heading chat-window ">
                    <i class="fa fa-comments fa-fw "></i> Chat
                    <div class="btn-group pull-right ">

                        <ul class="dropdown-menu slidedown " id="chat-content">

                        </ul>
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                        <form id="chat-form" action="">
                            <div class="input-group ">
                                <input id="btn-input-chat" type="text " class="form-control input-sm " placeholder="Type your message here... " />
                                <span class="input-group-btn ">
                                    <button class="btn btn-warning btn-sm " id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-footer -->
                </div>
                <!-- /.panel .chat-panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>