<div id="page-wrapper">
    <div class="row ">
        <div class="col-lg-12">
            <div class="panel panel-default img-panel ">
                <div class="photos">
                    <form method="POST" action="/user/coverAvatar" enctype="multipart/form-data">
                        <div class="cover-photo">
                            <a class="thumbnail fancybox cover-fancybox" ng-href="{{isCurrentUser ? user.coverPhotoUrl : profile.coverPhotoUrl}}">
                                <img ng-src="{{isCurrentUser ? user.coverPhotoUrl : profile.coverPhotoUrl}}" err-src="../images/cover-photo.jpg" alt="cover photo">
                            </a>
                            <input id="addCoverImg" type="file" name="cover" onchange="this.form.submit();">
                            <label for="addCoverImg" class="addCoverImg">add Cover photo</label>
                        </div>
                        <div class="profile-photo">
                            <a class="thumbnail fancybox avatar-fancybox" ng-href="{{isCurrentUser ? user.profileImageUrl : profile.profileImageUrl}}">
                                <img ng-src="{{isCurrentUser ? user.profileImageUrl : profile.profileImageUrl}}" err-src="../images/profile.jpg" alt="profile photo">
                            </a>
                            <input id="addProfImg" type="file" name="avatar" onchange="this.form.submit();">
                            <label for="addProfImg" class="addProfImg">add Avatar</label>
                        </div>
                    </form>
                </div>
                <div class="panel-heading text-left btns-username">
                    <div class="btn-menu">
                        <a href="" ng-click="show=1">Timeline</a>
                        <a href="" ng-click="show=2">Photos</a>
                        <a href="" ng-click="show=3">Friends</a>
                    </div>
                    <div class="user-name">
                        <p>{{isCurrentUser ? user.fullName : profile.fullName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--======================================POSTS==============================================-->
    <div class="row" ng-show="show==1 || show==udefined">
        <div class="col-lg-8">
            <!--============================= NEW POST ========================================-->
            <section class="addPost">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Status</h5>
                    </div>
                    <div class="panel-body">
                        <div class="create-post">
                            <form action="/user/newpost" method="POST" enctype="multipart/form-data">
                                <div class="input-flex">
                                    <a href="#/profile/{{$root.user_id}}">
                                        <img class="img-comments" ng-src="{{$root.user.profileImageUrl}}" err-src="../images/profile.jpg" alt="">
                                    </a>
                                    <textarea class="post-text" rows="3" cols="90" placeholder="Say something?" required maxlength="700" name="text"></textarea>
                                </div>
                                <div id="inputForFiles">
                                    <input class="input-files" type="file" name="picture">
                                </div>
                                <button type="button" class="btn btn-default btn btnPicture" ng-click="addImageBtnPost()"><i class="fa fa-picture-o" aria-hidden="true"></i> Photo/Video</button>
                                <span class="file-attached">File attached</span>
                                <!--<button type="button" class="btn btn-default btn"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</button>
                                <button type="button" class="btn btn-default btn">Tag Friends</button>-->
                                <input type="submit" class="btn btn-default btn pull-right" value="Post">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--======================= LOAD ALL USER POSTS ============================-->
            <div infinite-scroll='loadMore()'>
                <div ng-repeat="post in somePosts">
                    <posts data='post'></posts>
                </div>
            </div>
        </div>
    </div>

    <!--================================= PHOTOS =======================================-->
    <div class="row" ng-show="show==2" ng-controller="photosController">
        <div class="col-lg-12">
            <!--======================== ADD PHOTO =====================================-->
            <div id="add-photo" class="panel panel-default photos-panel">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h4> <i class="fa fa-camera-retro" aria-hidden="true"></i> Photos</h4>
                    </div>
                    <div class="pull-right">
                        <button id="uploadPhotoBtn" type="button" class="btn btn-default btn comment-btn" ng-click="uploadPhoto()"><i class="fa fa-picture-o" aria-hidden="true" ></i> Add Photo</button>
                    </div>
                </div>
                <div>
                    <div class="overlay"></div>
                    <center>
                        <div id="uploadPhoto">
                            <div class="pull-right close-photo"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
                            <div class="content-upload">
                                <form method="POST" action="/user/uploadphoto" enctype="multipart/form-data">
                                    <div class="upload-title">
                                        <label for="photoName">Image Title</label>
                                        <input type="text" id="photoName" placeholder="Add title" name="title" required>
                                    </div>
                                    <div class="upload-location">
                                        <label for="photoLocation">Location</label>
                                        <input type="text" id="photoLocation" placeholder="Add Location" name="location" required>
                                    </div>
                                    <div class="upload-btns">
                                        <input id="choosePhoto" type="file" name="addPhoto" value="Add Photo" required>
                                        <label for="choosePhoto" class="btn btn-default btn comment-btn">Choose File</label>
                                        <button id="uploadPhotoGallery" class="btn btn-default btn comment-btn" ng-click="showPhotoGallery()">Upload Photo</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </center>
                </div>
                <!--===================== LOAD ALL PHOTOS ===============================-->
                <div class="panel-body" style="padding-bottom: 15px;">
                    <!--<h2>all photos</h2>-->
                    <div class='list-group gallery'>
                        <div infinite-scroll='loadMore()'>
                            <div ng-repeat="photo in somePhotos">
                                <photos data='photo'></photos>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=========================================================-->
            </div>
        </div>
    </div>
    <!--=================================FRIENDS==============================================-->
    <div class="row" ng-show="show==3" ng-controller="friendsController">
        <div class="col-lg-12">
            <div class="panel panel-default photos-panel">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h4> <i class="fa fa-users" aria-hidden="true"></i> Friends</h4>
                    </div>
                    <div class="pull-right">
                        <span>All Friends({{isCurrentUser ? user.friends.length : profile.friends.length}}) </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div infinite-scroll='loadMore()'>
                        <div ng-repeat="friend in someFriends">
                            <friends data='friend'></friends>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /#page-wrapper -->