<div class="container">
    <div class="row">

        <div class="wrap">
            <p class="form-title">Sign In</p>
            <p>{{error}}</p>
            <form method="POST" class="login">
                <input type="text" name="email" placeholder="E-mail" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Sign In" class="btn btn-success btn-sm bntLogin" />
                <div class="row">
                    <div class="col-md-12 create-account text-center">
                        <a href="#" class="forgot-pass">Create account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>