<div class="layer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Human</h1>
                <div class="left"></div>
                <h2 class="text-center">Welcome to Human!</h2>
                <button class="btn btn-center" onclick="window.location.href='/login'">Login Now!</button>
            </div>
            <div class="col-md-8">
                <div class="right">
                    <div class="box-form">
                        <p class="text-center title">Register to Human</p>
                        <form method="post" class="register">
                            <input name="fname" type="text" placeholder="First name" />
                            <input name="lname" type="text" placeholder="Last name" />
                            <input name="email" type="email" placeholder="Email" />
                            <input name="password" type="password" placeholder="Password" />
                            <input name="date" type="date" placeholder="Birth day" />
                            <input type="submit" value="Complete registration" class="btn btn-success btn-sm btnReg" />
                            <div class="remember-forgot">{{error}}
                            </div>
                            <div class="row">
                                <div class="col-md-12 create-account text-center">
                                    <a href="/login" class="forgot-pass">Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>