html {
    height: 100%;
}

body {
    background-image: url(../images/login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

.layer {
    background-color: rgba(254, 94, 58, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.right,
.left {
    margin: auto;
    padding-top: 150px;
    height: 100%;
    text-align: center;
}

.box-form {
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: #FFFFFF;
    color: black;
}

.title {
    border-bottom: 1px solid #D8DAE6;
    padding: 20px;
}

.btn-center {
    margin: 20px;
    margin-left: 150px;
    border-radius: 0;
}

form {
    width: 300px;
    margin: 0 auto;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #D8DAE6;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    outline: 0;
}

form input[type="text"]::-webkit-input-placeholder,
form input[type="password"]::-webkit-input-placeholder,
form input[type="email"]::-webkit-input-placeholder {
    color: black;
}

form input[type="submit"] {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #32cb93;
    border-radius: 0;
}

form input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

form label,
form a {
    font-size: 16px;
    font-weight: 400;
}

form a {
    color: #32cb93;
    padding: 10px;
}

form .create-account {
    padding: 15px;
}

form a:hover {
    color: #2ecc71;
}

form.register .red-border {
    border: 1px solid red;
}

.pr-wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}