body {
    color: black;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
    color: #FE5E3A;
    text-decoration: none;
}

a {
    color: #FE5E3A;
}

::selection {
    text-shadow: none;
    background: #FE5E3A;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    margin-top: 50px;
    padding: 15px;
    min-height: 568px;
    background-color: #EDF2F6;
}

@media (min-width: 1000px) {
    #page-wrapper {
        position: inherit;
        margin: 50px 150px 0 150px;
        padding: 20px 30px;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
    }
}

.navbar-default {
    background-color: #404257;
}

.navbar-default .navbar-brand {
    color: #FE5E3A;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-brand:focus {
    color: #FE5E3A;
}

.navbar-top-links {
    margin-right: 0;
    text-align: right;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    /*height: 55px;*/
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-fr-requests,
.navbar-top-links .dropdown-alerts {
    width: 350px;
    min-width: 0;
}

.navbar-top-links .dropdown-fr-requests {
    margin-left: -59px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

#inputForFiles {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.input-search {
    margin-top: 15px;
    display: table;
}

.news-feed {
    /*margin-top: 25px;*/
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.news-feed a:hover {
    text-decoration: none;
    color: #FE5E3A;
}

.news-feed a:visited {
    text-decoration: none;
    color: #FE5E3A;
}

.sidebar ul li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #404257;
    color: white;
}

.sidebar ul li a.hover {
    background-color: white;
    color: #FE5E3A;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
        padding-left: 15px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-fr-requests,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.post-panel {
    height: 58px;
}

.profile-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
}


/*=============== FRIENDS REQUESTS DROP DOWN ===========*/

.dropdown-fr-requests {
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.dropdown-fr-requests .confirm-btn {
    background-color: #FE5E3A;
    color: white;
    border: 1px solid #FE5E3A;
    border-radius: 15px;
    width: 55px;
    padding: 5px;
}

.dropdown-fr-requests .confirm-btn:hover {
    background-color: white;
    color: #FE5E3A;
}

.dropdown-fr-requests .reject-btn {
    background-color: #404257;
    color: white;
    border: 1px solid #404257;
    border-radius: 15px;
    width: 55px;
    padding: 5px;
}

.dropdown-fr-requests .reject-btn:hover {
    background-color: white;
    color: #404257;
}

.img-fr-requests {
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    object-fit: cover;
}


/*=============== CHAT WINDOW ===============*/

.chat-fixed {
    position: fixed;
    left: 64%;
    bottom: 0%;
    width: 310px;
    z-index: 1500;
    margin-bottom: -22px;
}

@media (max-width: 880px) {
    .chat-fixed {
        left: 58%;
    }
}

@media (max-width: 780px) {
    .chat-fixed {
        left: 50%;
    }
}

@media (max-width: 650px) {
    .chat-fixed {
        left: 44%;
    }
}

@media (max-width: 500px) {
    .chat-fixed {
        left: 2%;
    }
    .chat-panel .panel-body {
        height: 150px;
    }
}

#chat-form ul {
    display: flex;
    flex-direction: column;
}

ul.chat {
    max-height: 300px;
    min-height: 300px;
}

li.clearfix {
    overflow: auto;
    word-wrap: break-word;
}

.redText {
    color: #FE5E3A;
}

#searchFriendsInputChat {
    width: 309px;
}

.searchFriendsChat {
    position: absolute;
    top: 50px;
    left: 15px;
    width: 307px;
    max-height: 300px;
    overflow: auto;
    color: #8C9097;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #EDF2F6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.chat-fixed .chat-window {
    cursor: pointer;
    background-color: #404257;
    color: white;
}

.slide-toggle {
    display: none;
}

.btn-chat {
    width: 60px;
    height: 30px;
    background-color: #FE5E3A;
    color: white;
}


/*=============== ADD NEW POST ==============*/

.addPost h5 {
    font-weight: bold;
    font-size: 1.2em;
}

.addPost .post-text {
    border: none;
    border-left: 3px solid #FE5E3A;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
    max-width: 100%;
    width: 100%;
}

.addPost input[type=submit] {
    width: 80px;
    background-color: #FE5E3A;
    border-color: #FE5E3A;
    color: white;
    font-weight: bold;
}

.addPost input[type=submit]:hover {
    background-color: white;
    color: #FE5E3A;
}

.addPost button:hover {
    color: #FE5E3A;
}

#create-post a {
    color: black;
}

.file-attached {
    display: none;
}


/*=================== POST ==================*/

.postBy {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.post>p.post-text,
.comment-text>p {
    overflow: auto;
    word-wrap: break-word;
    padding-right: 20px;
    text-align: left;
}

.text-post {
    width: 90%;
    resize: auto;
    overflow: hidden;
    border: 0;
    padding-left: 20px;
}

.text-post:focus {
    outline: none;
}

.post .panel-footer {
    background-color: white;
    padding-bottom: 0;
}

.panel-footer a {
    color: #8C9097;
    text-decoration: none;
}


/*================== COMMENTS ===================*/

.panel-comments {
    padding: 10px 15px;
    display: block;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.panel-comments textarea {
    width: 93%;
    height: 40px;
    outline: none;
    border: none;
    border-left: 3px solid #FE5E3A;
    padding: 10px;
}

.panel-comments a {
    color: #8C9097;
}

.img-comments {
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    object-fit: cover;
    margin-right: 5px;
}

.comment-btn {
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: -2px;
    text-align: center;
    color: white;
    background-color: #FE5E3A;
}

.comment-btn:hover {
    background-color: white;
    border-color: #FE5E3A;
    color: #FE5E3A;
}

.comment-likes {
    font-size: 0.9em;
    color: #8C9097;
}

.btn-flex {
    display: flex;
    flex-direction: row-reverse;
}

.input-flex {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.comment-text {
    width: 93%;
}

.comment-text a {
    text-decoration: none;
}

a.change-color {
    color: #FE5E3A;
}


/*==================SEARCH FOR FRIENDS ==================*/

.input-search .search:focus,
.input-search .searchChat:focus {
    outline: none;
}

.input-group-btn>.btn,
.input-search .search,
.input-search .searchChat {
    border-radius: 0;
}

.search-friends {
    border-bottom: 1px solid gainsboro;
}

.searchFriends {
    position: absolute;
    top: 34px;
    left: 15px;
    width: 419px;
    max-height: 300px;
    overflow: auto;
    color: #8C9097;
    z-index: 1050;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #EDF2F6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.searchFriends span,
.searchFriendsChat span {
    color: black;
    font-size: 1.1em;
}

.friend-request {
    font-size: 0.9em;
    background-color: #FE5E3A;
    border-color: #FE5E3A;
    color: white;
    font-weight: bold;
}

.friend-request:hover {
    background-color: white;
    border-color: #FE5E3A;
    color: #FE5E3A;
    font-weight: bold;
}

.search-avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 2px solid gainsboro;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}


/*================= USER PROFILE====================*/

.photos {
    position: relative;
}

.photos input[type=file] {
    display: none;
}

.cover-photo {
    max-width: 100%;
    width: 100%;
    height: 200px;
}

.cover-photo img {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-photo {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid white;
    background-color: white;
    overflow: hidden;
}

.profile-photo img {
    position: absolute;
    top: -6px;
    left: -6px;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

.addProfImg {
    display: none;
    position: absolute;
    top: 105px;
    left: 7px;
    width: 122px;
    height: 39px;
    padding-left: 30px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.addCoverImg {
    display: none;
    position: absolute;
    top: 161px;
    right: 0px;
    width: 130px;
    height: 39px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

div.btns-username {
    align-items: center;
    height: 85px;
}

.btn-menu {
    width: 37%;
    display: flex;
    justify-content: space-around;
}

.user-name {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.btn-menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: #8C9097;
    padding-top: 10px;
}

.btn-menu a:hover {
    color: #FE5E3A;
}

@media (max-width: 880px) {
    .btn-menu a {
        font-size: 1em;
    }
    .user-name {
        font-size: 1.1em;
    }
    .profile-photo {
        top: 69%;
        width: 100px;
        height: 100px;
    }
    .profile-photo img {
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
    }
}


/*=================== PHOTOS USER ==================*/

.close-photo {
    color: #FE5E3A;
    padding: 10px;
}

.photos-panel .panel-heading {
    height: 55px;
}

.thumbnail {
    border-radius: 0;
    text-decoration: none;
    margin-bottom: 0;
}

.cover-fancybox,
.avatar-fancybox {
    border: 0;
    padding: 0;
}

.thumbnail .text-muted {
    text-decoration: none;
}

.img-gallery-size {
    width: 200px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}


/*================== ADD PHOTO===============*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 1050;
    filter: alpha(opacity=60);
    display: none;
}

#uploadPhoto {
    position: fixed;
    top: 25%;
    left: 30%;
    width: 500px;
    height: 300px;
    z-index: 1055;
    display: none;
    background-color: white;
    border-radius: 3px;
}

.content-upload {
    padding-left: 100px;
    padding-right: 100px;
}

#uploadPhoto form {
    padding-top: 50px;
    text-align: left;
}

#uploadPhoto form .upload-title,
#uploadPhoto form .upload-location {
    padding: 10px;
}

#uploadPhoto form input[type=text] {
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #FE5E3A;
    text-align: left;
}

#uploadPhoto form label {
    width: 100px;
    font-size: 1.1em;
    margin-right: 5px;
}

#uploadPhoto form input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#uploadPhoto form input[type=file]+label {
    width: 120px;
    background-color: #FE5E3A;
    border: 1px solid #FE5E3A;
    color: white;
}

#uploadPhoto form input[type=file]+label:hover {
    background-color: white;
    border: 1px solid #FE5E3A;
    color: #FE5E3A;
}

#uploadPhoto form button {
    color: white;
    background-color: #353539;
    display: flex;
    text-justify: row;
}

#uploadPhoto form .upload-btns {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}


/*============= PHOTO COMMENTS =================*/

#showComments {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: auto;
    z-index: 1055;
    overflow-y: auto;
    background-color: white;
}

#showComments .text-right {
    background-color: #f5f5f5;
    padding: 10px;
    color: #FE5E3A;
}

#showComments .comments-area {
    overflow: auto;
    max-height: 300px;
}

@media (max-width: 800px) {
    #showComments {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    #showComments .comments-area {
        overflow: auto;
        max-height: 100%;
    }
}


/*============= FRIENDS ==============*/

.friend-image {
    display: block;
    max-width: 200px;
    max-height: 160px;
    min-width: 200px;
    min-height: 160px;
    object-fit: cover;
}


/*-------------------------------------------*/

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline>li>.timeline-panel {
        width: calc(10%);
        width: -moz-calc(10%);
        width: -webkit-calc(10%);
    }
    ul.timeline>li>.timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }
    ul.timeline>li>.timeline-panel {
        float: right;
    }
    ul.timeline>li>.timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }
    ul.timeline>li>.timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}