<div class="input-flex">
    <div>
        <a href=""><img ng-src="{{data.profilePicture}}" err-src="../images/profile.jpg" class="img-comments" alt="userImg"> </a>
    </div>
    <div class="comment-text">
        <p ng-model="commentText"><strong>{{data.fname + ' ' + data.lname}}</strong> {{data.text}}</p>
        <div class="comment-likes">
            <div class="pull-left">
                <a href="#profile" class="like-btn-comments" ng-click="changeLikeComment($event)">Like</a>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{data.likes.length}}
            </div>
            <div class="pull-right">
                <span><em>Postet at {{data.date}}</em></span>
            </div>
        </div>
    </div>
</div>