<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">
            <!--insert profile image-->
            <img class="profile-img" src="../images/profile.jpg" alt="Profile pic">
            <span>{{data.postedBy}}</span>
        </div>
        <div class="pull-right" style="padding-top: 10px;">
            <span class="post-date"><i>Posted at {{data.date}}</i></span>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="" ng-click="hidePost()"> Hide Post</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="post">
            <p class="post-text">{{data.text}}</p>
            <img ng-src="{{data.picture}}" alt="" width="100%" height="auto">
            <div class="panel-footer">
                <div class="pull-left">
                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{data.likes.length}}</a>
                </div>
                <div class="pull-right">
                    <a href="#"> {{data.comments.length}} <i class="fa fa-comments" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer ">
        <div class="pull-left">
            <a href="" ng-click="changeLike($event); " class="like-btn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a>
        </div>
        <div class="pull-right">
            <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> Comment</a>
        </div>
    </div>
    <div class="panel-comments" ng-controller="commentController">
        <div class=" input-flex ">
            <a href=" "><img src=" " alt="userImg "> </a>
            <textarea ng-model="commentText " type="text " name="comment " placeholder="Comment here "> </textarea>
        </div>
        <div class="input-flex ">
            <a href="# "> {{}} <i class="fa fa-thumbs-up " aria-hidden="true "></i>  Like</a>
            <button ng-click="addComment($event) " class="btn btn-default btn comment-btn ">Send</button>
        </div>
        <div ng-repeat="comment in comments ">
            <comments data='comment'></comments>
        </div>
    </div>
    <!-- /.panel-footer -->
</div>
<!-- /.panel -->