<div class="panel panel-default">
    <div class="panel-heading post-panel">
        <div class="pull-left">
            <a href="#profile">
                <img class="profile-img" src="../images/profile.jpg" alt="Profile pic">
                <span class="postBy">{{data.postedBy}}</span>
            </a>
        </div>
        <div class="pull-right" style="padding-top: 10px;">
            <span class="post-date"><i>Posted at {{data.date}}</i></span>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="" ng-click="hidePost()"> Hide Post</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="post">
            <p class="post-text">{{data.text}}</p>
            <img ng-src="{{data.picture}}" err-src="../images/profile.jpg" alt="" width="100%" height="auto">

            <!--============= LIKE AND COMMENT BNTS ===================-->
            <div class="panel-footer">
                <div class="pull-left">
                    <a href=""> {{data.likes.length}}</a>
                    <a href="" ng-click="changeLike($event)" class="like-btn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a>
                </div>
                <div class="pull-right">
                    <a href=""> {{comments.length}}</a>
                    <a href="" ng-click="showHideComments()"><i class="fa fa-comments" aria-hidden="true"></i> Comment</a>
                </div>
            </div>
        </div>
    </div>
    <!--========================= hide/show comments ==========================-->
    <div class="panel-comments" ng-controller="commentController" ng-show="IsVisible">
        <div class="input-flex">
            <a href="#profile"><img ng-src="{{user.profImgUrl}}" err-src="../images/profile.jpg" class='img-comments' alt="userImg "> </a>
            <textarea ng-model="commentText " type="text " name="comment " placeholder="Comment here "> </textarea>
        </div>
        <div class="btn-flex ">
            <button ng-click="addComment($event) " class="btn btn-default btn comment-btn">Send</button>
        </div>
        <div ng-repeat="comment in comments ">
            <comments data='comment'></comments>
        </div>
    </div>
</div>